body{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  padding:0px;
  margin:0px;
  font-size:100%;
  height:900px;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  position:absolute;
}
h1{
  font-family:"Trebuchet MS", serif;
  font-weight:bold;
  font-size:100px;
  color:white;
  position:relative;
  padding:0px;
  margin: 0px;
}
h2{
  font-family:"Trebuchet MS", serif;
  font-weight:bold;
  font-size:60px;
  color:white;
  position:relative;
  margin:0px;
}
#wow{
  margin:50px;
}
#searchinput{
  background-color:#e0e1e3;
  background-image:url("../resources/searchico.png");
  background-repeat:no-repeat;
  background-position:5px 5px;
  padding:7px 5px 7px 60px;
  height:50px;
  width:60%;
  border-width:2px;
  border-radius:25px;
  border-color:black;
  border-style:solid;
  margin-top:20px;
  margin-left:5%;
  font-size:40px;
  font-family:"Trebuchet MS", Times, serif;
  outline:none;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
}
#content{
  width:100%;
  height:755px;
  background-color:brown;
  margin-top:145px;
  position: absolute;
  display:flex;
  justify-content:flex-start;
}
#searchsell{
  background-color:#e0e1e3;
  background-repeat:no-repeat;
  background-position:5px 5px;
  padding:7px 5px 7px 10px;
  height:50px;
  width:40%;
  margin-top:0px;
  font-size:40px;
  margin-top:200px;
  font-family:"Trebuchet MS", Times, serif;
  outline:none;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
  position:absolute;
}
#searchsell2{
  background-color:#e0e1e3;
  background-repeat:no-repeat;
  background-position:5px 5px;
  padding:7px 5px 7px 10px;
  height:50px;
  width:40%;
  margin-top:0px;
  font-size:40px;
  margin-top:350px;
  font-family:"Trebuchet MS", Times, serif;
  outline:none;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
  position:absolute;
}
#sellsub{
  margin-top:500px;
  background-color:#790404;
  border-width:0px;
  border-radius:40px;
  border-color:black;
  border-style:solid;
  height:80px;
  width:17%;
  position:absolute;
  display:flex;
  justify-content:center;
}
#sellsub:hover{
  border-color:white;
  border-width:1.5px;
}
#navbar{
  margin-top:95px;
  width:33%;
  display:flex;
  flex-direction: row;
  position:absolute;
  margin-left:33%;
}
#topbar{
order:0;
background-color:#011F5B;
height:145px;
width:100%;
padding:0px;
margin:0px;
display:flex;
flex-grow:1;
position:fixed;
box-shadow: 0px 15px 5px rgba(0,0,0,0.5);
}
#artistpic{
  border-radius:150px;
  border-width:0px;
  border-style:solid;
}
#logo{
  height:145px;
  width:210px;
}
#nfont{
  color:blue;
  padding-left:10px;
  padding-right:10px;
  position:absolute;
}
#stix{
  width:33%;
  height:50px;
  position:relative;
  display:flex;
  justify-content:center;
  margin-left:0.5%;
}
#abt{
  width:33%;
  height:50px;
  position:relative;
  display:flex;
  justify-content:center;
}
#ctus{
  width:33%;
  height:50px;
  position:relative;
  display:flex;
  justify-content:center;
  margin-right:0.5%;
}
#stix:hover{
  color:#045ea7;
}
#abt:hover{
  color:#045ea7;
}
#ctus:hover{
  color:#045ea7;
}
#topbar p{
  color:white;
  font-size:20px;
  font-family:"Trebuchet MS", serif;
  font-weight:bold;
}
#bottom{
  width:100%;
  height:100px;
  background-color:gray;
  position:absolute;
  margin-top:850px;
  text-align:center;
  background-color:#011F5B;
}
#bottom p{
  color:white;
  font-family:"Trebuchet MS", serif;
  font-size:10px;
}
#money:hover{
  color:yellow;
}
#registerbutt{
  border-style:outset;
  border-width:5px;
  border-color:#b3b300;
  height:60px;
  width:200px;
  background-color:#e6e600;
  position:relative;
  margin-top:37.5px;
  text-align:center;
  border-radius:10px;
  margin-left:2%;
}
#registerbutt:hover{
  border-style:inset;
}
#registerbutt p{
  color:#011F5B;
  font-family:"Trebuchet MS", serif;
  font-weight:bold;
  font-size:20px;
}
#actualcontent{
  margin-top:50px;
  margin-left:200px;
  width:50%;
  height:100%;
  position:relative;
  display:flex;
  flex-direction:column;

}
#loginbutton{
  width:100px;
  height:30px;
  margin-top:50px;
  font-family:"Trebuchet MS", serif;
}
#passbox{
  margin-top:50px;
  width:70%;
  height:30px;
  font-size:30px;
  font-family:"Trebuchet MS", serif;
}
#loginbox{
  width:70%;
  height:30px;
  margin-top:50px;
  font-size:30px;
  font-family:"Trebuchet MS", serif;
}
#registerlink{
  margin-top:20px;
  font-family:"Trebuchet MS", serif;
}
#divider{
  margin-top:70px;
  background-color:white;
  width:20px;
  height:500px;
}
