body{
padding:0px;
margin:0px;
font-size:100%;
width:100%;
overflow-x:hidden;
overflow-y:auto;
background: #0f4461;
}
#tint{
  background-color:rgba(15, 68, 97,0.8);
  z-index: 0;
  width: inherit;
  height: inherit;
  display: inherit;
  flex-direction: inherit;
}
#content{
  background-color:#1b4559;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:relative;
  background-size:cover;
  background-attachment:fixed;
}
